@font-face{
  font-family: Apple-Myungjo;
  // src: url('../applemyungjo/AppleMyungjo.eot'); /* IE9 Compat Modes */
  // src: url('../applemyungjo/AppleMyungjo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  src: url('../applemyungjo/AppleMyungjo.woff') format('woff'), /* Modern Browsers */
  // url('../applemyungjo/AppleMyungjo.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../applemyungjo/AppleMyungjo.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Helvetica-medium-1;
  src: url('../Helvetica-medium/HelveticaNeueMed.eot'); /* IE9 Compat Modes */
  //src: url('../Helvetica-medium/Helvetica 65 Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  src: url('../Helvetica-medium/HelveticaNeueMed.woff') format('woff'), /* Modern Browsers */
  url('../Helvetica-medium/HelveticaNeueMed.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../Helvetica-medium/HelveticaNeueMed.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: HelveticaNeue1;
  src: url('../helveticaneue/helveticaneue-light.eot'); /* IE9 Compat Modes */
  //src: url('../Helvetica-medium/Helvetica 65 Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  src: url('../helveticaneue/helveticaneue-light.woff') format('woff'), /* Modern Browsers */
  url('../helveticaneue/helveticaneue-light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../helveticaneue/helveticaneue-light.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: HelveticaNeue1-Bold;
  src: url('../HelveticaNeue-Bold/HelveticaNeue-Bold.eot'); /* IE9 Compat Modes */
  //src: url('../Helvetica-medium/Helvetica 65 Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  src: url('../HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'), /* Modern Browsers */
  url('../HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../HelveticaNeue-Bold/HelveticaNeue-Bold.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1577934301137'); /* IE9 */
  src: url('../iconfont/iconfont.eot?t=1577934301137#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkAAAAJNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMbgE2AiQDCAsGAAQgBYRtBy8bkwXInpo8CWS7nBBAqDWoD3cTIvh+P/Z73j2oJtXE0D2LJiokQrNOgtKpdEonFJMv+e3/XOZ4BMLEjUtyyIohv+Xfl2ao2OkpNXWkbsJN6CU88wo45OR2guaBUOb5xL3TPwookPnOu1zGGDTWpEldgHEgBbgXtsmKJPKGsQtcwnkCrUaMy22tbu9Bm2RNC8S5715DWy4gJUs3C401a1PcQYPm6iY/bsPvx7vlaKPSUFhVu2crdzD/PGRnldf/Vyc+AUEC2tyAgiUgicPaxLaCYKyC1u1FE0BKwXPqGtvFXi2C/XVWaTsYgtJ7krnyWxWsQNKffmBy1CMo7ZkXtdpevb7fbB42GmcdubZoLW1jZewh4bbIF3vK1LeXg31MwM/MA9T1cl9IDsHPnVW97J3+32yCp163Ql9dT/1coHlXzuCXyHq2pa6wbFWqstpMpV/hVDWtWlED9vT6HWscOH8mNBu4C1eT4RRFsykymUto0GYFjZqtotWitc1t+rCCyBYs+AII3b5R6fSIotsPmcwWGgz6Q6PuKKDVcQzu2WYm/I4lpmuhO7x5Rv9WJ8pxSEdUvkPufXTNWUXIPiDO/DDahlVMr1FCPMeC7MF1RBQq1jGugssoijSmrAO6FcMTSSdNU9W9ybjVMXTYxMg1Qe6gG8+Q75aWUH530VH6/A7iuhe5xi0tNeEDhGX8wZHNYPUg17RJr5Z7uSbzwOUQQkEK02JoFYwikYiG0vpRAXJLGLwRsdQk0+6k+mqN9fXx1+2BVpapCntI0XDKrBkAAA==') format('woff2'),
  url('../iconfont/iconfont.woff?t=1577934301137') format('woff'),
  url('../iconfont/iconfont.ttf?t=1577934301137') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../iconfont/iconfont.svg?t=1577934301137#iconfont') format('svg'); /* iOS 4.1- */
}
